@font-face {
    font-family: 'OtakuRantRemade';
    src: url('fontfiles/OtakuRantRemade/OtakuRantRemade.ttf') format('truetype');
}

body, html {
    height: 100%;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'OtakuRantRemade' ; /* Apply the font */
}

h1 {
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    font-size: 20px;
}

h2 {
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    font-size: 20px;
}

p {
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: green;
}

a:hover {
    opacity: 0.7;
}
